#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 4rem;
    position: relative;
}

.image-area::before {
    content: 'Image Preview';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}


.image-area img {
    z-index: 2;
    position: relative;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
}


body {
    background: linear-gradient(to bottom, rgb(229, 178, 39), rgb(139, 176, 80)),
    url('https://images.unsplash.com/photo-1558008749-736d955a1e55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
